<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="differential_robot">

    <!-- Robot dimensions -->
    <xacro:property name="body_length" value="0.5"/>
    <xacro:property name="body_width" value="0.4"/>
    <xacro:property name="body_height" value="0.1"/>

    <!-- Wheel dimensions -->
    <xacro:property name="wheel_radius" value="0.125"/>
    <xacro:property name="wheel_width" value="0.06"/>
    <xacro:property name="wheel_separation" value="${body_width}"/>

    <!-- Constants -->

    <!-- Body -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="${body_length} ${body_width} ${body_height}"/>
            </geometry>
        </visual>
    </link>

     <!-- Front Left Wheel -->
    <link name="front_left_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <cylinder radius="${wheel_radius}"
                          length="${wheel_width}"/>
            </geometry>
        </visual>
    </link>

    <!-- Front Left Wheel Joint -->
    <joint name="front_left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="front_left_wheel_link"/>
        <origin xyz="0 ${wheel_separation/2} ${body_height/2 - wheel_radius}"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <!-- Front Right Wheel -->
    <link name="front_right_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <cylinder radius="${wheel_radius}"
                          length="${wheel_width}"/>
            </geometry>
        </visual>
    </link>

    <!-- Front Right Wheel Joint -->
    <joint name="front_right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="front_right_wheel_link"/>
        <origin xyz="0 ${-wheel_separation/2} ${body_height/2 - wheel_radius}"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>


<!-- commented out rear wheels for differential drive robot 
       
    <link name="rear_left_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <cylinder radius="${wheel_radius}"
                            length="${wheel_width}"/>
            </geometry>
        </visual>
    </link>

    
    <joint name="rear_left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="rear_left_wheel_link"/>
        <origin xyz="${-body_length/2} ${-wheel_separation/2} ${body_height/2 - wheel_radius}"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    
    <link name="rear_right_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <cylinder radius="${wheel_radius}"
                            length="${wheel_width}"/>
            </geometry>
        </visual>
    </link> 

    
    <joint name="rear_right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="rear_right_wheel_link"/>
        <origin xyz="${-body_length/2} ${wheel_separation/2} ${body_height/2 - wheel_radius}"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>
    -->

</robot>